---
# silence ansible warnings
ansible_python_interpreter: auto_silent
networks_cli_compatible: no

timezone: Europe/Berlin

docker_install_compose: true

swap_file_size_mb: '16000'

users:
  - lenni

firewall_allowed_tcp_ports:
  - "22"
  - "80"
  - "443"
  - "1883" # mqtt
  - "1884" # mqtt-over-websockets
  - "8883" # mqtts

# firewall
firewall_state: started
firewall_enabled_at_boot: true
firewall_flush_rules_and_chains: false
# ssh hardening
network_ipv6_enable: true
ssh_allow_agent_forwarding: true
ssh_permit_tunnel: true
ssh_allow_tcp_forwarding: 'yes'
sftp_enabled: true
sftp_chroot: true

certbot_certs:
  - domains:
    - "{{ hostname }}"
  - domains:
    - "{{ api_hostname }}"
  - domains:
    - "{{ matomo_hostname }}"

certbot_auto_renew: true
certbot_auto_renew_options: --pre-hook "systemctl stop nginx" --post-hook "systemctl start nginx"
certbot_auto_renew_user: root
certbot_create_if_missing: true
certbot_create_standalone_stop_services:
  - nginx
certbot_admin_email: mail@leonard.io

certbot_auto_renew_minute: "2"
certbot_auto_renew_hour: "0"

map_url: "https://tiles.stadtnavi.eu/streets/{z}/{x}/{y}{r}.png"
semi_transparent_map_url: "https://tiles.stadtnavi.eu/satellite-overlay/{z}/{x}/{y}{r}.png"

# the docker tag/sha used to build containers and run OTP itself in the digitransit docker-compose
# cluster
otp_docker_tag: latest

data_builder_tag: latest

# default images - override in staging/production.yml if you want to use fixed tags
digitransit:
  images:
    proxy: stadtnavi/digitransit-proxy:latest
    otp: mfdz/opentripplanner:{{ otp_docker_tag }}
    data_container: mfdz/opentripplanner-data-container-hb:local
    ui: stadtnavi/digitransit-ui:latest
    map_server: stadtnavi/hsl-map-server:latest

matomo_port: 9000
digitransit_port: 8080

photon_hostname: photon.stadtnavi.eu
photon_new_hostname: photon-new.stadtnavi.eu
photon_url: https://{{ photon_hostname }}

additional_users: []

# one week
docker_prune_max_age: 168h

thingsboard_to_parkapi_commit: 3865b3c636bbe5feaa04cd4787e784d9e7205491
thingsboard_enhancer_commit: 70724e0b4add91a6e99e283d45e11de3a98a2803
thingsboard_to_mqtt_version: abfbca97df0bcaa1c14a89cbe9dbdebcde7b3816
delay_prediction_service_version:

delay_postgres_password: !vault |
  $ANSIBLE_VAULT;1.1;AES256
  63376632663933393033626565303131643664613466373132363633663332633263353364366264
  3338653066326631643332323065343462383737626361360a663031326532343931646235616135
  31656530623030313965396431343539363233626662343663396535393331303030653066633563
  3566663832343935370a626361623634373464636662633033313464616634353062623831646666
  66323462323330363937353233613064316264656666336562653735303136323362


thingsboard_api_url: !vault |
          $ANSIBLE_VAULT;1.1;AES256
          63323865393163643262666531663932666131383632343932613539636362616632393038333033
          3137353636313462363762633238346366623539633833300a656330313864356630303736333734
          63633237313764376130343434626130346533633631613531396565346631623430343232396564
          6433393934633031340a636538363233616338353062663138393034643563646231343636333762
          38386536346265383935396261396637323239346566623163373134356537343130643963396535
          3333316530356564653532653031623037333236343331646337

thingsboard_username: !vault |
          $ANSIBLE_VAULT;1.1;AES256
          30313632323462623132613034386165343436333564623938663863613338346235396265663465
          3064663261643864323632383462643939653766616139640a326130353661386138303562373531
          66643238373665303766343264353931646561646563393537623661346633323362396331643865
          6536323930343231370a376265373830336135666134646263373530613533366430313030663938
          38336530316263333566626364616166323231623939653131393364633130323865

thingsboard_password: !vault |
          $ANSIBLE_VAULT;1.1;AES256
          61333632353830326437306662383832383633363365303535363034326238666533643631643564
          3038633862636632313536343862333164373863623935350a663634343631613634313266316338
          65353231306163363130643930633865356161343832383235316539653032316532303662326230
          3135643035336435610a326634653963393338336330393339316234623863326535643264393863
          6463

thingsboard_weather_username: !vault |
          $ANSIBLE_VAULT;1.1;AES256
          34303739653133353134393263393433623162646261313837383565353766663637343135663863
          3438646637666438386431363862396234653564373538370a326232363937386666303263363233
          37393765333539616564666434386262616331373865636131353366363536366633643632633734
          3234626462333635640a646266356262363262363461313265643265653764646538663432386563
          36623462663130373232666131323664656332366234343234393164663935646363646131383732
          6566363830636134633234663131306531373433343763613034

thingsboard_weather_password: !vault |
          $ANSIBLE_VAULT;1.1;AES256
          32383334343862643136353839373565613265623034363833616262356262393231336463313038
          6238393461666639393937323730343765616531646262630a656565376266613935643734626263
          62643430326132623966306337363238353530613630666537616161653035633333613161323435
          3432623232393061650a613034323761613437623837316437643733663932653333633933633432
          34633466666663373362343562613231386133643332633961353233333065393465

fahrgemeinschaft_api_key: !vault |
  $ANSIBLE_VAULT;1.1;AES256
  33333137303037623934376361336266323365356138316231313862646463663363653437373463
  3863666533383930633735656564643364373562633063620a633135666632616466336365336465
  66333965636232353035376361633632636162356635376466663838346532303434656565623965
  3035333131353561370a303431333562616461323861323132383634636433366266316338373963
  39356165383135656236316639386162653831396665323264656231666338376131393732333132
  33633666313262313434323036316266633730326261656538356234666437616161613636663534
  30383330653738663064633833363262626664663965303536633630666635323235333565303837
  32393961303763666636336633666163353137373438323237336565376662646131663139323933
  64353566646566393533613266373561623039373861336634653464363239363862626362323333
  35393864373034306434346366363139656661653533623632316461333865383231323839366162
  396135393731383536346666666136626533

fahrgemeinschaft_auth_key: !vault |
  $ANSIBLE_VAULT;1.1;AES256
  65396565376134656236643533373061663038356439666565623930373736643766643234393231
  3530366661383534653437613035313531323465323162630a656331356139623066653832633136
  37336236613137356566616532643737623639616433313330346361343261363363356564636265
  3332663162313065350a303937656162333935666438663835353936616337316135343031643435
  34643834363237353534636138653139326330653739356436363839363264383132346433383164
  36313639653865663662666364613064656436633238633135366565663235343830396661656538
  66656636373162343664356163613265376339616365613336626662353163306238383732616434
  65373234663330616166343439393636663531323361363064316364313333396235306634303863
  33636230326264646337643937326236626664626538336561656437613435616635343936613439
  37623437616433643261336132383266646134656239323733313766303566643532303236393162
  376235333831353134323138663861326364

# credentials for the WMTS server available at https://owsproxy.lgl-bw.de/owsproxy/ows/WMTS_LGL-BW_ATKIS_DOP_20_C
wmts_username: !vault |
          $ANSIBLE_VAULT;1.1;AES256
          38663262386239613539643336633963333435313161346363363266623731323362303430336631
          3663323465636639653761393736666165623665646337330a336434643135373938353036303932
          34623133323633326265333837626331613031643066613039333432623836633539326531643762
          3630333330303239610a316334646238663431383565356431333939666131383563643137343066
          38653534366336316265313062363336366533623731376537353639623561663734

wmts_password: !vault |
          $ANSIBLE_VAULT;1.1;AES256
          64656366363035353766336562343130393233653365643631393865653133666564353862626231
          3337636161316330346263636562616232353632303364320a383939343631643330396466363237
          30366636656265343965343931626137383063653835396666343031393636646633663232333531
          3837646265326661630a356664316131373835373237333062366166313963613938323764336162
          3237

# photon/nominatim
osm_pbf_url: http://download.geofabrik.de/europe/dach-latest.osm.pbf
osm_updates_url: http://download.geofabrik.de/europe/dach-updates/
nominatim_import_wikipedia: "true"

matrix_bot_token: !vault |
          $ANSIBLE_VAULT;1.1;AES256
          35353764626465333062623964663963646634326631346430333861333033323035366230396230
          6164373265363465386633663134376632323134636537620a303763346166613436373436396135
          38323563333336643662383266353232343933353234316433383830656132343562353766346133
          6639316137346139300a643439393761383565386137363137373836303261643134323933353734
          36663533643837653766363165343638366236656531373936366564656364356138336230393666
          36633732663233613330363235623964303831323831636461663364396564616239353233613738
          30356130633534376662306234376261323432653132636461343561623361633064656564626366
          62353961663863343536303665313935633865653663303366633962663165306231373135303662
          37663139376664333661346135306666383534306136363435613230646366343330636466376232
          61396637383334653030336364366462613335656462623834353931313666636434343061656330
          39653961616334353663613662376332646635616139626636386335316432303939363836663764
          34626562396236333539346331323838626237363061303037343738313862326232386133643330
          65323538643166373565663462376434393465653730383536656634366639346235396638623135
          31316562383263626236626364613732373330323536356439633438366639386366313130323266
          32363165343663663236636131303633336232656262306332353662623761656536653532326638
          32326565633830373134616562323834663863396530646232356438623638323833333338306632
          66626564333430663433373436623935363631313364383463313065383731396536363863323864
          3334623061363831383633396437653131626233323764613733

a_star_statistics: "false"

mqtt_publisher_password: !vault |
          $ANSIBLE_VAULT;1.1;AES256
          32633035613863366163393036636239346533623935633633326262666163323066643232623865
          6633363830663934323466356666363264653936636262610a363833323566396531343232366234
          35633731303566373566326261356539303362366166383334333737653863363030356139333234
          6638303534383666330a313536326539343538316636373661623239376439646637643433393864
          38343439396564663765316638383538313230633734373235653237656333613663

mfdz_gtfs_url: !vault |
      $ANSIBLE_VAULT;1.1;AES256
      38313535653439303366343762306433626166366466333531366239663161316539386564616236
      3364383263623035303962373662656463613333653963380a366638646364623063353932636631
      33343966386365653466363230363362623937666366313766663032643861396261336439646264
      6136663865333136640a353536326266376534306435646463326332353131353137373133636232
      30376662666465333031613932313536653039306236656433663462613433346564613362343765
      31373966333466653734316134353536376265336264313663396466653138643665636631313830
      35353234643030663933393831643538356633653331343838623739383936363530616466323463
      31333664663764363161

trias_api_key: !vault |
  $ANSIBLE_VAULT;1.1;AES256
  63373235333937343737373331646466303232386165663463353863613532373038393033646638
  3735303661386230343764663539313063353039373964350a623530343766666663313339353036
  38363736393062353365323932613066346430373263366262303538656335353963323839323239
  6331666361343566650a323663643864393931396337393933656138633637313439336136663064
  62363037386134666235613333653366623238316466313832643161386434323337

matomo_db_password: !vault |
  $ANSIBLE_VAULT;1.1;AES256
  37303063633034313834623462316132643639656165356534373266626434313730633234383939
  3633633563386266346531366233306333393763303035360a303164353665383631633639666237
  31353665613634373563666662386561626339616331326363333366373834366339386466613630
  3666303466363038310a363331333338656666346633363364363239656535613164613135386665
  62323266366466346338346465613634646631663036663763313464333961636162363633656430
  6261613436663939366639663261626530383065363935386163

matomo_db_root_password: !vault |
  $ANSIBLE_VAULT;1.1;AES256
  35373739333836633966326430636164663164353966656561346264656538303135653361393163
  3933653463656235306664333533356665306566353531370a303237326537386264303135373965
  32613161396664663238326361636533323538313033343934613265376166396533633566333136
  6133643664626531340a303530343062613335613662313833653131343130383635383033396463
  64386237323337623061336466343066393232633638646538336162373631323839383635303562
  6138626538356638663630303966353739316135656162613465
