---
# silence ansible warnings
ansible_python_interpreter: auto_silent
networks_cli_compatible: no

timezone: Europe/Berlin

docker_install_compose: true

swap_file_size_mb: '16000'

users:
  - lenni

firewall_allowed_tcp_ports:
  - "22"
  - "80"
  - "443"
  - "1883" # mqtt
  - "1884" # mqtt-over-websockets
  - "8883" # mqtts

# firewall
firewall_state: started
firewall_enabled_at_boot: true
firewall_flush_rules_and_chains: false
# ssh hardening
network_ipv6_enable: true
ssh_allow_agent_forwarding: true
ssh_permit_tunnel: true
ssh_allow_tcp_forwarding: 'yes'
sftp_enabled: true
sftp_chroot: true

certbot_certs:
  - domains:
    - "{{ hostname }}"
  - domains:
    - "{{ api_hostname }}"
  - domains:
    - "{{ matomo_hostname }}"

certbot_auto_renew: true
certbot_auto_renew_options: --pre-hook "systemctl stop nginx" --post-hook "systemctl start nginx"
certbot_auto_renew_user: root
certbot_create_if_missing: true
certbot_create_standalone_stop_services:
  - nginx
certbot_admin_email: mail@leonard.io

certbot_auto_renew_minute: "2"
certbot_auto_renew_hour: "0"

map_url: "https://tiles.stadtnavi.eu/streets/{z}/{x}/{y}{r}.png"
semi_transparent_map_url: "https://tiles.stadtnavi.eu/satellite-overlay/{z}/{x}/{y}{r}.png"
bike_map_url: "https://tiles.stadtnavi.eu/bicycle/{z}/{x}/{y}{r}.png"

# the docker tag/sha used to build containers and run OTP itself in the digitransit docker-compose
# cluster
otp_docker_tag: latest

# default images - override in staging/production.yml if you want to use fixed tags
digitransit:
  images:
    proxy: stadtnavi/digitransit-proxy:latest
    otp: mfdz/opentripplanner:{{ otp_docker_tag }}
    ui: stadtnavi/digitransit-ui:latest
    map_server: stadtnavi/hsl-map-server:latest

matomo_port: 9000
digitransit_port: 8080
digitransit_static_message_url: /assets/messages/message.hb.json

photon_hostname: photon.stadtnavi.eu
photon_new_hostname: photon-new.stadtnavi.eu
photon_url: https://{{ photon_hostname }}

additional_users: []

# one week
docker_prune_max_age: 168h

thingsboard_to_parkapi_commit: 9a29c2842636ee9b3b684e34068b1343ac989653
thingsboard_enhancer_commit: 0b3aeff5b05b5662914dfe01535e4d67e1adfb7e
thingsboard_to_mqtt_version: abfbca97df0bcaa1c14a89cbe9dbdebcde7b3816

delay_prediction_service_version: 517c0f8f57224b08317c3904b4370a3d577be87f

delay_postgres_password: !vault |
  $ANSIBLE_VAULT;1.1;AES256
  63376632663933393033626565303131643664613466373132363633663332633263353364366264
  3338653066326631643332323065343462383737626361360a663031326532343931646235616135
  31656530623030313965396431343539363233626662343663396535393331303030653066633563
  3566663832343935370a626361623634373464636662633033313464616634353062623831646666
  66323462323330363937353233613064316264656666336562653735303136323362


thingsboard_api_url: !vault |
          $ANSIBLE_VAULT;1.1;AES256
          63323865393163643262666531663932666131383632343932613539636362616632393038333033
          3137353636313462363762633238346366623539633833300a656330313864356630303736333734
          63633237313764376130343434626130346533633631613531396565346631623430343232396564
          6433393934633031340a636538363233616338353062663138393034643563646231343636333762
          38386536346265383935396261396637323239346566623163373134356537343130643963396535
          3333316530356564653532653031623037333236343331646337

thingsboard_username: !vault |
          $ANSIBLE_VAULT;1.1;AES256
          30313632323462623132613034386165343436333564623938663863613338346235396265663465
          3064663261643864323632383462643939653766616139640a326130353661386138303562373531
          66643238373665303766343264353931646561646563393537623661346633323362396331643865
          6536323930343231370a376265373830336135666134646263373530613533366430313030663938
          38336530316263333566626364616166323231623939653131393364633130323865

thingsboard_password: !vault |
          $ANSIBLE_VAULT;1.1;AES256
          61333632353830326437306662383832383633363365303535363034326238666533643631643564
          3038633862636632313536343862333164373863623935350a663634343631613634313266316338
          65353231306163363130643930633865356161343832383235316539653032316532303662326230
          3135643035336435610a326634653963393338336330393339316234623863326535643264393863
          6463

thingsboard_weather_username: !vault |
          $ANSIBLE_VAULT;1.1;AES256
          34303739653133353134393263393433623162646261313837383565353766663637343135663863
          3438646637666438386431363862396234653564373538370a326232363937386666303263363233
          37393765333539616564666434386262616331373865636131353366363536366633643632633734
          3234626462333635640a646266356262363262363461313265643265653764646538663432386563
          36623462663130373232666131323664656332366234343234393164663935646363646131383732
          6566363830636134633234663131306531373433343763613034

thingsboard_weather_password: !vault |
          $ANSIBLE_VAULT;1.1;AES256
          32383334343862643136353839373565613265623034363833616262356262393231336463313038
          6238393461666639393937323730343765616531646262630a656565376266613935643734626263
          62643430326132623966306337363238353530613630666537616161653035633333613161323435
          3432623232393061650a613034323761613437623837316437643733663932653333633933633432
          34633466666663373362343562613231386133643332633961353233333065393465

fahrgemeinschaft_api_key: !vault |
          $ANSIBLE_VAULT;1.2;AES256
          36333663323931653866633036316433383732333166646232353639343266376663623961636434
          3963393064633233393033343463373834653931656630330a353764656439623261653736336265
          36373238623265353338646564346535616361306230393166363836656535653865323166343863
          3962636134306434380a663434323665396464653764343537363464396438656234353530393132
          33646236393833323066373565313733623761666234666639366566316236626531326663383637
          6561323162636666393733333965666665333234343239396236

# credentials for the WMTS server available at https://owsproxy.lgl-bw.de/owsproxy/ows/WMTS_LGL-BW_ATKIS_DOP_20_C
wmts_username: !vault |
          $ANSIBLE_VAULT;1.1;AES256
          38663262386239613539643336633963333435313161346363363266623731323362303430336631
          3663323465636639653761393736666165623665646337330a336434643135373938353036303932
          34623133323633326265333837626331613031643066613039333432623836633539326531643762
          3630333330303239610a316334646238663431383565356431333939666131383563643137343066
          38653534366336316265313062363336366533623731376537353639623561663734

wmts_password: !vault |
          $ANSIBLE_VAULT;1.1;AES256
          64656366363035353766336562343130393233653365643631393865653133666564353862626231
          3337636161316330346263636562616232353632303364320a383939343631643330396466363237
          30366636656265343965343931626137383063653835396666343031393636646633663232333531
          3837646265326661630a356664316131373835373237333062366166313963613938323764336162
          3237

# photon/nominatim
osm_pbf_url: http://download.geofabrik.de/europe/dach-latest.osm.pbf
osm_updates_url: http://download.geofabrik.de/europe/dach-updates/
nominatim_import_wikipedia: "true"

matrix_room_address: "!UXrSFkkJoppiEZEfgC:matrix.org"

matrix_bot_token: !vault |
          $ANSIBLE_VAULT;1.1;AES256
          35353764626465333062623964663963646634326631346430333861333033323035366230396230
          6164373265363465386633663134376632323134636537620a303763346166613436373436396135
          38323563333336643662383266353232343933353234316433383830656132343562353766346133
          6639316137346139300a643439393761383565386137363137373836303261643134323933353734
          36663533643837653766363165343638366236656531373936366564656364356138336230393666
          36633732663233613330363235623964303831323831636461663364396564616239353233613738
          30356130633534376662306234376261323432653132636461343561623361633064656564626366
          62353961663863343536303665313935633865653663303366633962663165306231373135303662
          37663139376664333661346135306666383534306136363435613230646366343330636466376232
          61396637383334653030336364366462613335656462623834353931313666636434343061656330
          39653961616334353663613662376332646635616139626636386335316432303939363836663764
          34626562396236333539346331323838626237363061303037343738313862326232386133643330
          65323538643166373565663462376434393465653730383536656634366639346235396638623135
          31316562383263626236626364613732373330323536356439633438366639386366313130323266
          32363165343663663236636131303633336232656262306332353662623761656536653532326638
          32326565633830373134616562323834663863396530646232356438623638323833333338306632
          66626564333430663433373436623935363631313364383463313065383731396536363863323864
          3334623061363831383633396437653131626233323764613733

mqtt_publisher_password: !vault |
          $ANSIBLE_VAULT;1.1;AES256
          32633035613863366163393036636239346533623935633633326262666163323066643232623865
          6633363830663934323466356666363264653936636262610a363833323566396531343232366234
          35633731303566373566326261356539303362366166383334333737653863363030356139333234
          6638303534383666330a313536326539343538316636373661623239376439646637643433393864
          38343439396564663765316638383538313230633734373235653237656333613663

mfdz_gtfs_url: !vault |
          $ANSIBLE_VAULT;1.2;AES256;dev
          35396335383261346431333061363235396261323139393030663134376361343330663032386564
          6432613863623765343533313732383163356631313631330a376263653230616434376262333136
          35306365353562646437393863653831663832393230346332383732326338653032363837326563
          6563393164306136630a666361373931373161333866396364333761303935656263366235316533
          33333835616533633062326536666131623438323461393562626631363463323638643962303633
          64616663323662353932653166393339356337656433333337353135353931333833363336336636
          343236353361356530623266303636356338

mfdz_gtfsrt_url: !vault |
          $ANSIBLE_VAULT;1.2;AES256;dev
          38663565313131353263353730636632386137383666623039373063336162356532643430333061
          3262363861646338386530613539663864646465326333360a383035613564376236626137633933
          63653263343030636635656531613162626538626138393531653437636263373335313464353238
          3466383137636632660a313431386466623535363761383765346538663835636230613131316261
          38623030316366316139653361366232313964643662363339366433316430656364623236663661
          33666538323433386164376263383764323666656437646538373861636564646366646438313036
          663361626262373930333164646431313865

trias_api_key: !vault |
  $ANSIBLE_VAULT;1.1;AES256
  63373235333937343737373331646466303232386165663463353863613532373038393033646638
  3735303661386230343764663539313063353039373964350a623530343766666663313339353036
  38363736393062353365323932613066346430373263366262303538656335353963323839323239
  6331666361343566650a323663643864393931396337393933656138633637313439336136663064
  62363037386134666235613333653366623238316466313832643161386434323337

matomo_db_password: !vault |
  $ANSIBLE_VAULT;1.1;AES256
  37303063633034313834623462316132643639656165356534373266626434313730633234383939
  3633633563386266346531366233306333393763303035360a303164353665383631633639666237
  31353665613634373563666662386561626339616331326363333366373834366339386466613630
  3666303466363038310a363331333338656666346633363364363239656535613164613135386665
  62323266366466346338346465613634646631663036663763313464333961636162363633656430
  6261613436663939366639663261626530383065363935386163

matomo_db_root_password: !vault |
  $ANSIBLE_VAULT;1.1;AES256
  35373739333836633966326430636164663164353966656561346264656538303135653361393163
  3933653463656235306664333533356665306566353531370a303237326537386264303135373965
  32613161396664663238326361636533323538313033343934613265376166396533633566333136
  6133643664626531340a303530343062613335613662313833653131343130383635383033396463
  64386237323337623061336466343066393232633638646538336162373631323839383635303562
  6138626538356638663630303966353739316135656162613465

stadtnavi_backup_password: !vault |
  $ANSIBLE_VAULT;1.1;AES256
  64316261323166643964366137333065356638313764363737646363373265383639333936353963
  3333353138663536343536313138306338386365373838310a636435633761383039333665636564
  34643862656635356631373739326664646261333139353238663131313965343062363264643030
  3335663538306364390a383138663165376665333739666262303736373762653230343838373166
  64313731643562663866393034623864393636656534343534633466333635383437

tier_reutlingen_api_key: !vault |
  $ANSIBLE_VAULT;1.1;AES256
  37623661333333653565353637613635663961623738626366343932353663643236613035383732
  3265666663323564323035333536636162663635623735360a313364363161666436653432303330
  37666134326133633865316236303834656263613431326361626137616138383635626464666631
  3334653838393337330a616264323861313362663935633034313864376564613861396337663465
  34393539383663346531623264656263313438373561663066663734333631336334623165636433
  6333393663663964343733303130633538353766323434306361

tier_ludwigsburg_api_key: !vault |
  $ANSIBLE_VAULT;1.2;AES256;dev
  33633665316434373038663162613932376465626165343439396330646365393365386137363538
  3865623739303762383331663737616537663437363236380a646439623134636139363263613963
  31616331343465623831323734353865383637623138613561383530323431643031633636303964
  3936643232616635350a313561346435643033336533626439366565303735303338613937343462
  39363430323766633464373666326235343231633835616232643538353235323666613633383666
  3463306139643433356133616635303534383163393930396139

tier_munsingen_api_key: !vault |
  $ANSIBLE_VAULT;1.2;AES256;dev
  38623962373863386661306132646231336164646366356363356166653166326134316532383166
  6666643763653730333766643464343437623634316432660a316134646639366637363365396265
  38663630396130346236393231663563326139343732663931363036306662343366383866356362
  3338613566363433300a623934383631393238633133323633326562653263663865383166363961
  38363463316638306239656436616432383762626639613333316166336163666632386262666339
  3734333834346665623733313239376237366364623037363039

enable_maintenance_page: false

enable_prediction_service: true
enable_mosquitto: true
enable_fares: true
enable_gtfs_rt: true
enable_fake_bike_box: false

kvv_gtfs_rt_url: !vault |
          $ANSIBLE_VAULT;1.1;AES256
          62656339633037626565396537336537666663663133396430386536396262663066353465346131
          6365363466376432633561666561326232633161623362300a303739643732336337363533396330
          62613938303663356235626464656234653363396162396661623465653162656235303263653766
          3161636362396534650a666565646364323037333730613530373861613863373365646261653833
          61303638613437636466653038343766343834353766326162323538643764346164613833666637
          6665303730326137623134316530623131656330613862326665

osm_url: https://gtfs.mfdz.de/bw-buffered.osm.pbf
gtfs_urls:
  - https://gtfs.mfdz.de/hbg6.merged.with_flex.gtfs.zip
  - https://gtfs.mfdz.de/KVV.with_shapes.gtfs.zip
  - "{{ mfdz_gtfs_url }}"

