---
server_name: beta

api_hostname: api.qa.stadtnavi.eu

digitransit_ui:
  - config: hbnext
    port: 8084
    domain: herrenberg.beta.stadtnavi.eu
    image: stadtnavi/digitransit-ui:ba8ff7d69af0b54ff54fa863e20053e4adfde1d0

certbot_certs:
  - domains:
      - "{{ digitransit_ui[0].domain }}"
  - domains:
      - "{{ api_hostname }}"

otp_docker_tag: otp2-f77132043db5eab109fe91b7c4635176af44bed2

digitransit:
  images:
    otp: mfdz/opentripplanner:{{ otp_docker_tag }}
    map_server: stadtnavi/hsl-map-server:f386dcbf8ea8d9f99a9e7772e0324bed2e20fb2a
    fares_service: stadtnavi/fares-service:680c9e4abbe4693615d0d266a79c81ff18d90c01


encryption_secret_key: !vault |
  $ANSIBLE_VAULT;1.1;AES256
  66353631613263366631613966353134373534633566386332316466303631363036333033343230
  3133336639643636633339343539616334376461343065360a343761343062396331393432393162
  33653438396163356234386231353435353830326362393331386337323166613464663733643636
  3765616535336130340a346433383863666566626434393466643863393763373566613064356565
  37393762633065363339346336353865313934663130343761636465636337326233666235386663
  34313462383233633539643063336331373436626232393666323064356362393662343130643664
  66333230396463643531666631663462656536663464383563316335353235353335333064376331
  36633864373430636131353139326261663338303932643533393264373939646530636536343832
  31323163326134613765666363363562646630366531346631326165323635656663363634346365
  64353861373138313034386539333462343735313462323563643165633731383733333530353532
  343837666130396238653565626438636136

mfdz_gtfs_url: !vault |
  $ANSIBLE_VAULT;1.1;AES256
  38313535653439303366343762306433626166366466333531366239663161316539386564616236
  3364383263623035303962373662656463613333653963380a366638646364623063353932636631
  33343966386365653466363230363362623937666366313766663032643861396261336439646264
  6136663865333136640a353536326266376534306435646463326332353131353137373133636232
  30376662666465333031613932313536653039306236656433663462613433346564613362343765
  31373966333466653734316134353536376265336264313663396466653138643665636631313830
  35353234643030663933393831643538356633653331343838623739383936363530616466323463
  31333664663764363161

gtfs_url: https://gtfs.mfdz.de/hbg3.merged.with_flex.gtfs.zip
