---
server_name: dev

digitransit_ui:
  - config: hbnext
    port: 8084
    domain: dev.stadtnavi.eu
    image: stadtnavi/digitransit-ui:next

data_builder_tag: latest

otp_docker_tag: otp2-latest

digitransit:
  images:
    proxy: stadtnavi/digitransit-proxy:latest
    otp: mfdz/opentripplanner:{{ otp_docker_tag }}
    data_container: mfdz/opentripplanner-data-container-hb:local
    map_server: stadtnavi/hsl-map-server:latest

api_hostname: api.dev.stadtnavi.eu

certbot_certs:
  - domains:
    - "{{ digitransit_ui[0].domain }}"
  - domains:
    - "{{ api_hostname }}"

certbot_admin_email: mail@leonard.io

encryption_secret_key: !vault |
          $ANSIBLE_VAULT;1.1;AES256
          66353631613263366631613966353134373534633566386332316466303631363036333033343230
          3133336639643636633339343539616334376461343065360a343761343062396331393432393162
          33653438396163356234386231353435353830326362393331386337323166613464663733643636
          3765616535336130340a346433383863666566626434393466643863393763373566613064356565
          37393762633065363339346336353865313934663130343761636465636337326233666235386663
          34313462383233633539643063336331373436626232393666323064356362393662343130643664
          66333230396463643531666631663462656536663464383563316335353235353335333064376331
          36633864373430636131353139326261663338303932643533393264373939646530636536343832
          31323163326134613765666363363562646630366531346631326165323635656663363634346365
          64353861373138313034386539333462343735313462323563643165633731383733333530353532
          343837666130396238653565626438636136
