---

server_name: infrastructure

tiles_hostname: tiles.stadtnavi.eu

certbot_certs:
  - domains:
    - "{{ tiles_hostname }}"
  - domains:
    - "{{ photon_hostname }}"
  - domains:
    - "{{ photon_new_hostname }}"

nominatim_db_password: !vault |
          $ANSIBLE_VAULT;1.1;AES256
          39626238653563323332376238386437323663616166303237383166303037613632626338313230
          3034653339333737663564353461666536313766373038650a306436343932376635376537316462
          64616335643161346262306161343463323934646233343030343562333463376665323236356130
          3336303163643939300a623536623830663836383130343335376130653136353166613037383833
          62396334356466613436323663373237623138626663656233323731656233366330

tileserver_allowed_referrers:
  - .localhost
  - "*.stadtnavi.eu"
  - "*.stadtnavi.de"
  - .mih.mitfahren-bw.de
  - .herrenberg.stadtnavi.de
  - .stadtnavi.github.io
  - .digitransit-next.leonard.io
  - "*.service-bw.de"
  - "*.komm.one"
  - "*.swlb.de"

photon_pelias_adapter_tag: 9af8e59f298719566cb55a1efb0e96545d079c49
