[Unit]
Description=Build mbtiles
Requires=docker.service
After=docker.service

[Service]
WorkingDirectory=/var/tilemaker
ExecStart=/var/tilemaker/build-mbtiles
Restart=always

[Install]
WantedBy=multi-user.target
