[Unit]
Description=Build mbtiles
Requires=docker.service
After=docker.service

# Restart once times within 20 minutes so that an intermittent network failures are gracefully handled
StartLimitIntervalSec=1200
StartLimitBurst=1

[Service]
WorkingDirectory=/var/tilemaker
ExecStart=/var/tilemaker/build-mbtiles
Restart=on-failure

ExecStopPost=/bin/sh -c 'if [ "$$EXIT_STATUS" != "0" ]; then send-to-matrix "tilemaker failed on {{ inventory_hostname }}. EXIT_STATUS:$$EXIT_STATUS, SERVICE_RESULT:$$SERVICE_RESULT, EXIT_CODE:$$EXIT_CODE"; fi'

[Install]
WantedBy=multi-user.target
