[Unit]
Description=Restart digitransit every night
Requires=docker.service
After=docker.service

[Service]
ExecStart=/bin/systemctl restart digitransit-docker-compose.service

[Install]
WantedBy=multi-user.target
