[Unit]
Description=data-builder for OTP graphs
Requires=docker.service
After=docker.service


[Service]
Restart=no
# /usr/bin/docker-pull could take a while so we disable the timeout
TimeoutStartSec=0

Environment=CONTAINER_NAME=opentripplanner-data-builder
Environment=SEED_IMAGE_NAME=mfdz/opentripplanner-data-container-hb:latest
Environment=IMAGE_NAME=mfdz/otp-data-builder:latest
Environment=DATA_DIR=/var/data-builder/data

WorkingDirectory=/var/data-builder/

# prefixing with - means that the commands are allowed to fail
ExecStartPre=-/usr/bin/docker stop ${CONTAINER_NAME}
ExecStartPre=-/usr/bin/docker rm ${CONTAINER_NAME}
ExecStartPre=/usr/bin/docker pull ${IMAGE_NAME}
ExecStartPre=/usr/bin/docker pull ${SEED_IMAGE_NAME}

ExecStartPre=/usr/bin/docker run --name ${CONTAINER_NAME} -e ROUTERS=hb -e ORG=mfdz -e DOCKER_TAG=local -e OTP_TAG={{ otp_docker_tag }} -e HOST_DATA=${DATA_DIR} -e MFDZ_GTFS_URL={{ mfdz_gtfs_url }} -v /var/run/docker.sock:/var/run/docker.sock -v ${DATA_DIR}:/opt/otp-data-builder/data ${IMAGE_NAME}
ExecStart=-/bin/bash -c 'echo "[{{ inventory_hostname }}] Graph build complete" | send-to-matrix'

ExecStop=/usr/bin/docker stop ${CONTAINER_NAME}

[Install]
WantedBy=multi-user.target
