[Unit]
Description=data-builder for OTP graphs
Requires=docker.service
After=docker.service


[Service]
Restart=always
# docker-pull could take a while so we disable the timeout
TimeoutStartSec=0

Environment=IMAGE_NAME=mfdz/otp-data-builder:latest
Environment=CONTAINER_NAME=opentripplanner-data-builder

WorkingDirectory=/var/data-builder/

# prefixing with - means that the commands are allowed to fail
ExecStartPre=-docker stop opentripplanner-data-builder
ExecStartPre=-docker rm opentripplanner-data-builder
ExecStartPre=docker pull ${IMAGE_NAME}
ExecStartPre=echo ${PWD}


ExecStart=docker run --name opentripplanner-data-builder -e ROUTERS=hb -e ORG=mfdz -e AUTO_REBUILD_HOUR=14 -e HOST_DATA=${PWD}/data -v /var/run/docker.sock:/var/run/docker.sock -v ${PWD}/data:/opt/otp-data-builder/data mfdz/otp-data-builder:latest

ExecStop=docker stop opentripplanner-data-builder

[Install]
WantedBy=multi-user.target
