[Unit]
Description=data-builder for OTP graphs
Requires=docker.service
After=docker.service


[Service]
Restart=always
# docker-pull could take a while so we disable the timeout
TimeoutStartSec=0

Environment=CONTAINER_NAME=opentripplanner-data-builder
Environment=IMAGE_NAME=mfdz/otp-data-builder:latest
Environment=DATA_DIR=/var/data-builder/data

WorkingDirectory=/var/data-builder/

# prefixing with - means that the commands are allowed to fail
ExecStartPre=-docker stop ${CONTAINER_NAME}
ExecStartPre=-docker rm ${CONTAINER_NAME}
ExecStartPre=docker pull ${IMAGE_NAME}

ExecStart=docker run --name ${CONTAINER_NAME} -e ROUTERS=hb -e ORG=mfdz -e AUTO_REBUILD_HOUR=17 -e HOST_DATA=${DATA_DIR} -e MFDZ_GTFS_URL={{ mfdz_gtfs_url }} -v /var/run/docker.sock:/var/run/docker.sock -v ${DATA_DIR}:/opt/otp-data-builder/data mfdz/otp-data-builder:latest

ExecStop=docker stop ${CONTAINER_NAME}

[Install]
WantedBy=multi-user.target
