[Unit]
Description=Convert the thingsboard data to parkenapi format

[Service]
User=www-data
Group=www-data
Environment=THINGSBOARD_USERNAME={{ thingsboard_username }}
Environment=THINGSBOARD_PASSWORD={{ thingsboard_password }}
ExecStart=/usr/local/bin/thingsboard-to-parkenapi /var/parkenapi/parkenapi.json

[Install]
WantedBy=multi-user.target
