[Unit]
Description=Photon Pelias Adapter
After=docker.service

[Service]

Environment=CONTAINER_IMAGE=mfdz/photon-pelias-adapter:1f7612dd5de91351c9be1f9ed7555f81cdfa1f8a
Environment=CONTAINER_NAME=photon-pelias-adapter-new
TimeoutStartSec=0
Restart=always

Environment=PHOTON_URL=https://photon-new.stadtnavi.eu

ExecStartPre=-docker pull ${CONTAINER_IMAGE}
ExecStartPre=-docker stop ${CONTAINER_NAME}
ExecStartPre=-docker rm ${CONTAINER_NAME}
ExecStart=docker run --name ${CONTAINER_NAME} --log-driver=journald -p {{ pelias_adapter_new_port }}:8080 -e PHOTON_URL ${CONTAINER_IMAGE}

ExecStop=-docker stop ${CONTAINER_NAME}

[Install]
WantedBy=multi-user.target
