[Unit]
Description=Update photon
Requires=docker.service
After=docker.service

[Service]
ExecStart=docker exec photon-new /usr/local/bin/nominatim-update

[Install]
WantedBy=multi-user.target
