[Unit]
Description=Build gtfs-hub every night

[Timer]
# run it every night at 11
OnCalendar=*-*-* 03:00:00
Persistent=true

[Install]
WantedBy=timers.target
