[Unit]
Description=Import POIs Service
After=network.target

StartLimitIntervalSec=30m
StartLimitBurst=2

[Service]
Type=simple
WorkingDirectory=/var/poi
ExecStart=/var/poi/import-pois
Restart=on-failure

ExecStopPost=systemd-failure-notification "%n"
RestartSec=10s

[Install]
WantedBy=multi-user.target