[Unit]
Description=Tileserver
After=docker.service
Requires=docker.service

[Service]
Environment=CONTAINER_IMAGE=stadtnavi/tileserver-gl:2.6.0
Environment=CONTAINER_NAME=tileserver
Environment=MEM_LIMIT=4096m
TimeoutStartSec=0
Restart=always

ExecStartPre=-/usr/local/bin/send-to-matrix "🗺️ Restarting tileserver on {{ inventory_hostname }}"
ExecStartPre=-/usr/bin/docker stop ${CONTAINER_NAME}
ExecStartPre=-/usr/bin/docker rm ${CONTAINER_NAME}
ExecStartPre=/usr/bin/docker pull ${CONTAINER_IMAGE}

# rsync makes sure that it's a noop when the files are the same
# I would have preferred a symlink but that doesn't work with docker volumes
ExecStartPre=-rsync --update /var/tilemaker/tilemaker-output.mbtiles /var/tileserver/input.mbtiles

ExecStart=docker run --rm \
            --name ${CONTAINER_NAME} \
            -v /var/tileserver/:/data \
            --memory="${MEM_LIMIT}" \
            -p 5000:80 ${CONTAINER_IMAGE} \
            -u https://tiles.stadtnavi.eu/tiles/openmaptiles/ \
            --config tileserver-config.json

[Install]
WantedBy=multi-user.target
