---
- name: Install base packages
  package:
    name:
      - python3-psycopg2
    state: present

- name: Create nominatim config directory
  file:
    path: "{{ item }}"
    state: directory
    owner: root
    group: root
    mode: 0775
  with_items:
    - /etc/nominatim
    - /var/nominatim
    - /var/photon

- name: Install config files for nominatim
  template: src={{ item }} dest=/etc/nominatim/
  with_items:
    - import-extratags.style

- name: Install import files for nominatim
  template:
    src: "{{ item }}"
    dest: /var/nominatim/
    mode: "+x"
  with_items:
    - nominatim_add_ifopt.py
    - update-nominatim
    - initialize-nominatim

- name: Install synonym files for photon
  template:
    src: "{{ item }}"
    dest: /var/photon/
  with_items:
    - synonyms.csv
    - synonyms.json

- name: Install base packages
  package:
    name:
      - python3-docker
    state: present

- name: Create photon network
  docker_network:
    name: photon-network

- name: Install systemd files for nominatim-update
  template: src={{ item }} dest=/etc/systemd/system/
  with_items:
    - nominatim.service
    - nominatim-update.service
    - nominatim-update.timer
    - photon.service
    - photon-update.service
    - photon-update.timer

- name: Install systemd files for photon-pelias-adapter
  template: src={{ item }} dest=/etc/systemd/system/
  with_items:
    - photon-pelias-adapter.service
  notify:
    - Restart photon-pelias-adapter

- name: Start nomimatim and photon services
  systemd: state=started name="{{ item }}" enabled=yes daemon_reload=yes
  with_items:
    - nominatim.service
    - nominatim-update.timer
    - photon.service
    - photon-update.timer
    - photon-pelias-adapter.service

- name: Copy photon nginx site conf
  template: src=photon-site.conf dest=/etc/nginx/sites-enabled/{{ item }}.conf
  with_items:
    - "{{ photon_hostname }}"
  notify: Restart nginx
