[Unit]
Description=Run thingsboard-to-parkapi.service every minute

[Timer]
# every 15 seconds
OnCalendar=*:*:0/15
Persistent=true
AccuracySec=1s

[Install]
WantedBy=timers.target
