[Unit]
Description=Convert the thingsboard data to parkapi format
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
Environment=THINGSBOARD_API_URL={{ thingsboard_api_url }}
Environment=THINGSBOARD_USERNAME={{ thingsboard_username }}
Environment=THINGSBOARD_PASSWORD={{ thingsboard_password }}
ExecStart=docker run --rm -v /var/thingsboard/herrenberg/:/out --env THINGSBOARD_HOST=${THINGSBOARD_API_URL} --env THINGSBOARD_USERNAME='${THINGSBOARD_USERNAME}' --env THINGSBOARD_PASSWORD='${THINGSBOARD_PASSWORD}' stadtnavi/thingsboard-json-enhancer thingsboard-json-enhancer -i templates/bus/ -o /out/
ExecStart=chown www-data:www-data /var/thingsboard/herrenberg/*

[Install]
WantedBy=multi-user.target
