[Unit]
Description=Run thingsboard-to-parkapi.service every minute

[Timer]
# every 2 minutes
OnCalendar=*:0/2
Persistent=true

[Install]
WantedBy=timers.target
