[Unit]
Description=Convert the thingsboard data to parkapi format
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
User=www-data
Group=www-data

# forcibly restart after 2 minutes
RuntimeMaxSec=120

Environment=THINGSBOARD_API_URL={{ thingsboard_api_url }}
Environment=THINGSBOARD_USERNAME={{ thingsboard_username }}
Environment=THINGSBOARD_PASSWORD={{ thingsboard_password }}
ExecStart=/usr/local/bin/thingsboard-to-parkapi --realtime -c "https://docs.google.com/spreadsheets/d/e/2PACX-1vSR33H_M8stQ5bhrVN0huYZkMhGONymIWKNRNvam2VYnBBUElUwsI5Fa8wK9mOYO0ZPg69RYH49h3ho/pub?gid=0&single=true&output=csv" -s https://www.herrenberg.de/de/Stadtleben/Erlebnis-Herrenberg/Service/Parkplaetze -o /var/thingsboard/herrenberg/parking/parkapi.json
ExecStart=/usr/local/bin/thingsboard-to-parkapi --no-realtime -c "https://docs.google.com/spreadsheets/d/e/2PACX-1vRJLtUyeM0o0eO0qZEGLkxtBVofhvdLw9i8SrGA51aFG2h8MWfJgBynEeAw0xTsdVof2t9Yt8LVxN92/pub?gid=0&single=true&output=csv" -s https://www.muensingen.de/de/Stadtleben/Mobilitaet/Parkplaetze/ -o /var/thingsboard/kreis_reutlingen/parking/parkapi.json

[Install]
WantedBy=multi-user.target
