[Unit]
Description=Run thingsboard-to-parkapi.service every minute

[Timer]
# every 15 seconds
OnUnitActiveSec=15
Persistent=true

[Install]
WantedBy=timers.target
