[Unit]
Description=Convert the thingsboard data to parkapi format
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
User=www-data
Group=www-data
Environment=THINGSBOARD_API_URL={{ thingsboard_api_url }}
Environment=THINGSBOARD_USERNAME={{ thingsboard_username }}
Environment=THINGSBOARD_PASSWORD={{ thingsboard_password }}
ExecStart=/usr/local/bin/thingsboard-to-parkapi -g /var/parkapi/parking_lots.geojson -o /var/parkapi/parkapi.json

[Install]
WantedBy=multi-user.target
