[Unit]
Description=matomo service with docker-compose
Requires=docker.service
After=docker.service

[Service]
Restart=always

# disable timeout
TimeoutStartSec=0

WorkingDirectory=/etc/matomo/

# Remove old containers, images and volumes
#ExecStartPre=docker-compose down -v
#ExecStartPre=docker-compose rm -fv
#ExecStartPre=-/bin/bash -c 'docker volume ls -qf "name=digitransit_" | xargs docker volume rm'
#ExecStartPre=docker-compose pull --ignore-pull-failures
#ExecStartPre=-/bin/bash -c 'docker network ls -qf "name=digitransit_" | xargs docker network rm'

ExecStop=/usr/local/bin/docker-compose stop
ExecStartPre=/usr/local/bin/docker-compose pull
ExecStart=/usr/local/bin/docker-compose up

ExecStop=/usr/local/bin/docker-compose pull
ExecStop=/usr/local/bin/docker-compose stop

[Install]
WantedBy=multi-user.target
