[Unit]
Description=Update nominatim with the update files from Geofabrik
Requires=docker.service
After=docker.service

[Service]
ExecStart=docker exec nominatim sudo -u nominatim /app/src/build/utils/update.php --import-osmosis

[Install]
WantedBy=multi-user.target
