[Unit]
Description=Update nominatim with the update files from Geofabrik
Requires=docker.service
After=docker.service

[Service]
ExecStart=/usr/bin/docker exec nominatim sudo -u nominatim /srv/nominatim/Nominatim/build/utils/update.php --import-osmosis

[Install]
WantedBy=multi-user.target
