[Unit]
Description=Nominatim
After=docker.service
Requires=docker.service

[Service]

Environment=CONTAINER_IMAGE=mediagis/nominatim:3.7-1586885ee06c334d359dbe11596b45aec934bdda
Environment=CONTAINER_NAME=nominatim
Environment=PBF_URL=http://download.geofabrik.de/europe/germany/baden-wuerttemberg/stuttgart-regbez-latest.osm.pbf
Environment=REPLICATION_URL=https://download.geofabrik.de/europe/germany/baden-wuerttemberg/stuttgart-regbez-updates/
Environment=IMPORT_WIKIPEDIA=false
Environment=NOMINATIM_PASSWORD={{ nominatim_db_password }}
TimeoutStartSec=0
Restart=always
RestartSec=120

ExecStartPre=-docker stop ${CONTAINER_NAME}
ExecStartPre=-docker rm ${CONTAINER_NAME}
ExecStartPre=-docker pull ${CONTAINER_IMAGE}
ExecStart=docker run --rm --name ${CONTAINER_NAME} \
  --shm-size=1g \
  --log-driver=journald \
  -e PBF_URL \
  -e REPLICATION_URL \
  -e IMPORT_WIKIPEDIA \
  -e NOMINATIM_PASSWORD \
  -e IMPORT_STYLE=extratags \
  --network photon \
  -p 5432:5432 \
  -v /etc/nominatim/import-extratags.style:/usr/local/etc/nominatim/import-extratags.style \
  -v nominatim-flatnode:/nominatim/flatnode \
  -v nominatim-postgres:/var/lib/postgresql/12/main \
  ${CONTAINER_IMAGE}

ExecStop=-docker stop ${CONTAINER_NAME}

[Install]
WantedBy=multi-user.target
