[Unit]
Description=Photon
After=docker.service

[Service]
Environment=CONTAINER_IMAGE=mfdz/photon:70a02a2098cdb2e6734e2f7c1ec0fae7a3cfff41
Environment=CONTAINER_NAME=photon
TimeoutStartSec=0
RestartSec=15
Restart=always

Environment=NOMINATIM_DB_HOST=nominatim
Environment=NOMINATIM_DB_PASSWORD={{ nominatim_db_password }}

Environment=SYNONYMS_URL=https://raw.githubusercontent.com/stadtnavi/digitransit-ansible/master/roles/photon/templates/synonyms.json

# in order to not place an error response as the synonyms file, we first we check if the download returned with a 200 and then move the file
ExecStartPre=-curl -f -LI ${SYNONYMS_URL} > /var/photon/synonyms.tmp.json && mv /var/photon/synonyms.tmp.json /var/photon/synonyms.json
ExecStart=docker run --rm --name ${CONTAINER_NAME} \
    --log-driver=journald \
    --network photon \
    -v photon-data-2023-03-06:/photon/photon_data:rw \
    -v /var/photon/synonyms.json:/synonyms.json \
    -p {{ photon_port }}:2322 \
    -e NOMINATIM_DB_HOST \
    -e NOMINATIM_DB_PASSWORD \
    -e AUTOMATIC_UPDATES=true \
    -e PHOTON_LANGUAGES="de,en,fr,pl" \
    ${CONTAINER_IMAGE} photon -synonym-file /synonyms.json

ExecStop=-docker stop ${CONTAINER_NAME}

[Install]
WantedBy=multi-user.target
