[Unit]
Description=Photon
After=docker.service
Requires=nominatim.service

[Service]

Environment=CONTAINER_IMAGE=lehrenfried/photon:latest
Environment=CONTAINER_NAME=photon
TimeoutStartSec=0
Restart=always

Environment=NOMINATIM_DB_HOST=nominatim

Environment=AUTOMATIC_UPDATES=true

ExecStartPre=-docker pull ${CONTAINER_IMAGE}
ExecStartPre=-docker stop ${CONTAINER_NAME}
ExecStartPre=-docker rm ${CONTAINER_NAME}
ExecStart=docker run --name ${CONTAINER_NAME} --log-driver=journald -v photon-data:/photon/photon_data:rw -p 2322:2322 --network photon -e NOMINATIM_DB_HOST -e AUTOMATIC_UPDATES ${CONTAINER_IMAGE}

ExecStop=-docker stop ${CONTAINER_NAME}

[Install]
WantedBy=multi-user.target
