[Unit]
Description=Photon
After=docker.service

[Service]
Environment=CONTAINER_IMAGE=mfdz/photon:93fd251b2de0791fa10237f9a2f46d8f4820dd67
Environment=CONTAINER_NAME=photon
TimeoutStartSec=0
RestartSec=15
Restart=always

Environment=NOMINATIM_DB_HOST=nominatim
Environment=NOMINATIM_DB_PASSWORD={{ nominatim_db_password }}

Environment=SYNONYMS_URL=https://raw.githubusercontent.com/stadtnavi/digitransit-ansible/master/roles/photon/templates/synonyms.json

# in order to not place an error response as the synonyms file, we first we check if the download returned with a 200 and then move the file
ExecStartPre=-curl -f -LI ${SYNONYMS_URL} > /var/photon/synonyms.tmp.json && mv /var/photon/synonyms.tmp.json /var/photon/synonyms.json
ExecStart=docker run --rm --name ${CONTAINER_NAME} \
    --log-driver=journald \
    --network photon \
    -v photon-data-2021-10-04:/photon/photon_data:rw \
    -v /var/photon/synonyms.json:/synonyms.json \
    -p {{ photon_port }}:2322 \
    -e NOMINATIM_DB_HOST \
    -e NOMINATIM_DB_PASSWORD \
    -e AUTOMATIC_UPDATES=true \
    ${CONTAINER_IMAGE} photon -synonym-file /synonyms.json

ExecStop=-docker stop ${CONTAINER_NAME}

[Install]
WantedBy=multi-user.target
