[Unit]
Description=Build OTP graph
Requires=docker.service
After=docker.service

# Restart once within 20 minutes so that an intermittent network failures are gracefully handled
StartLimitIntervalSec=1200
StartLimitBurst=2

[Service]
WorkingDirectory=/var/graph-build
ExecStart=/var/graph-build/build-graph

ExecStopPost=/bin/sh -c 'if [ "$$EXIT_STATUS" != "0" ]; then send-to-matrix "graph-build failed on {{ inventory_hostname }}. EXIT_STATUS:$$EXIT_STATUS, SERVICE_RESULT:$$SERVICE_RESULT, EXIT_CODE:$$EXIT_CODE"; fi'

Restart=on-failure

[Install]
WantedBy=multi-user.target
