[Unit]
Description=Remove old docker data (images, volumes, networks) that are older than a week
Requires=docker.service
After=docker.service

[Service]
ExecStart=/usr/bin/docker system prune -f --filter until=72h

[Install]
WantedBy=multi-user.target
